@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  /* PRIMARY */
  --primary-light-cyan: hsl(193, 38%, 86%);
  --primary-neon-green: hsl(150, 100%, 66%);

  /* NEUTRAL */
  --neutral-grayish-blue: hsl(217, 19%, 38%);
  --neutral-dark-grayish-blue: hsl(217, 19%, 24%);
  --neutral-dark-blue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  font-family: 'Manrope', sans-serif;

 
}

body {
  background-color: var(--neutral-dark-blue)
}


/* @media screen and (min-width: 376px ) { */

.container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  background-color: var(  --neutral-dark-grayish-blue);
  height: 280px;
  width: 500px; 
  border-radius: 20px;
}

.advice-number {
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem 0;
  color: var( --primary-neon-green);
  letter-spacing: 5px;
}

.advice {
  font-size: 28px;
  text-align: center;
  color: var( --primary-light-cyan);
  margin-bottom: 2rem;
  font-weight: 800;
}



.dice-container {
  border-radius: 50%;
  background-color: var( --primary-neon-green);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  transition: .2s;
  position: absolute;
  bottom: -25px
 

}
.dice-container :hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px 10px var( --primary-neon-green);
}

@media screen and (min-width: 481px ) {
  .mobile-divider {
    display: none;
  }
}


@media screen and (max-width: 480px ) {
.container {
  height: 340px;
  width: 340px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(  --neutral-dark-grayish-blue);
  border-radius: 20px;
}

.advice-number {
  font-size: 0.8rem;
  text-align: center;
  margin: 1.5rem 0;
  color: var( --primary-neon-green);
  letter-spacing: 5px;
}


.advice {
  font-size: 28px;
  text-align: center;
  color: var( --primary-light-cyan);
  margin-bottom: 2rem;
  font-weight: 800;
}

.desktop-divider {
  display: none;
}

.dice-container {
  border-radius: 50%;
  background-color: var( --primary-neon-green);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  transition: .2s;
  position: absolute;
  bottom: -40px
 

}


}


